
:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --success-color: #27ae60;
    --danger-color: #e74c3c;
    --warning-color: #f39c12;
    --info-color: #3498db;
    --light-bg: #ecf0f1;
    --dark-text: #2c3e50;
}

.card{
    background: yellowgreen;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 8px 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.stats-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}
.stat-card{
    background:pink;
    padding: 2rem;
    border-radius:8px;
    box-shadow:0px 2px 8px rgba(0,0,0,0.1) ;
    text-align: center;
    border-right: 4px solid var(--secondary-color);

}
body{
    background-color: yellow;
}